<a href="https://colab.research.google.com/github/gmh-07/Sem-6-Training-Python/blob/main/Sem_6_training_day_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#JSON
import json
data ={
    'name':'Alice',
    'age':30,
    'address':{
        'street':'katol road',
        'city':'Nagpur',
        'state':'Maharashtra',
    }
}
with open ('data.json','w') as f:
    json.dump(data,f)
with open('data.json','r') as f:
    loaded=json.load(f)
print(loaded,type(loaded))

{'name': 'Alice', 'age': 30, 'address': {'street': 'katol road', 'city': 'Nagpur', 'state': 'Maharashtra'}} <class 'dict'>

In [14]:
#PICKLE
import pickle
info ={
    'name':'Alice',
    'age':30,
    'address':{
        'street':'katol road',
        'city':'Nagpur',
        'state':'Maharashtra',
    }
}

libraries = ['numpy','pandas','sklearn']
data = (info,libraries)
with open ('data.pkl','wb') as f:
    pickle.dump(data,f)
with open('data.pkl','rb') as f:
    loaded=pickle.load(f)
    info_new,libraries_new = loaded
print(info_new,type(info_new))
print(librabies,type(librabies))

{'name': 'Alice', 'age': 30, 'address': {'street': 'katol road', 'city': 'Nagpur', 'state': 'Maharashtra'}} <class 'dict'>
['numpy', 'pandas', 'sklearn'] <class 'list'>

In [16]:
import csv

with open('data.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['name','age'])
    writer.writerow(['Alice',30])
    writer.writerow(['Bob',25])

with open('data.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row,type(row))

['name', 'age'] <class 'list'>
['Alice', '30'] <class 'list'>
['Bob', '25'] <class 'list'>